body{
	background-image: url("img/imgBackMain2.jpg");
	text-align: center;
}

canvas {
		background-image: url("img/imgBack4.jpg");
		display: block;
		position: absolute;
		border: 10px solid gray;
		margin: auto;
		top: 120px;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 5px;
	}

#game{
	padding-top: 50px;
}
#firstPart{
	color: yellow;
}
#firstPart h3{
	  position: fixed;
    top: 30px;
    right: 5px;
    color: red;
}
#inst{
	text-align: left;
}
.container{
	    position: absolute;
    left: 100px;
    top: 250px;
}